<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.memberMapper">

	<insert id="memberInsert" parameterType="com.kokkok.member.dto.MemberDto">
		insert into member(userid,username,useremail,userpass,joindate,admincode)
		values(#{userid}, #{username}, #{useremail}, #{userpass}, sysdate, 0)                                       
    </insert>
    
    <select id="login" parameterType="java.util.Map" resultType="com.kokkok.member.dto.MemberDto">
    	select userid, username, useremail, joindate, admincode from member
		where userid = #{userid} and userpass = #{userpass}
    </select>

</mapper>
