<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kokkok.member.dao.MemberDao">

	
	<insert id="register" parameterType="com.kokkok.dto.MemberDto">
		insert into member(userid,username,useremail,userpass,joindate,admincode)
		values(#{userid}, #{username}, #{useremail}, #{userpass}, sysdate, 0)                                       
    </insert>
    
      
    <select id="idCheck" parameterType="String" resultType="int">
        <![CDATA[select count(*)
        from member
        where userid = #{userid}]]>
    </select>
    
    
    <select id="login" parameterType="java.util.Map" resultType="com.kokkok.dto.MemberDto">
    	select * from member
		where userid = #{loginid} and userpass = #{loginpass}
    </select>


</mapper>
